table {
    border-collapse: collapse;
    margin: 60px auto;
}

th {
    font-size: 21px;
    border: 1px solid #eee;
    padding: 15px 60px;
    color: #3f51b5;
}

td {
    padding: 10px 60px;
    font-size: 20px;
    border: 1px solid #eee;
    text-align: center;
}

td.out {
    color: #f22a2a;
}

input[type="search"] {
    display: block;
    margin: 50px auto -40px auto;
    border: 1px solid #e5e5e5;
    height: 30px;
    width: 300px;
    border-radius: 6px;
    outline: none;
}